Question 2 "Years v Movie rating quantity + Movie rating avg" (bar graph) [Comparing movies relesased in the last 10 years] 
"Kaggle + DB"

In [11]:
import requests
import json
import pandas as pd
import numpy as np
import math

from json import loads
from pprint import pprint
from api_keys import key as api

In [5]:
baseData = pd.read_csv('../Data/cleaned_moviesDF1.csv', index_col=False)
len(baseData)

2694

In [6]:
baseData = baseData.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

baseData.head()

,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,TMDB ID
0,1,The Irishman,2019,18+,98/100,1,0,0,0,0,255839
1,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0,664280
2,5,Roma,2018,18+,94/100,1,0,0,0,0,11035
3,6,To All the Boys I've Loved Before,2018,13+,94/100,1,0,0,0,0,466282
4,7,The Social Dilemma,2020,13+,93/100,1,0,0,0,0,656690

In [9]:
test = baseData['TMDB ID'][0]
test

255839

In [12]:
endpointURL = f"https://api.themoviedb.org/3/movie/{test}?api_key={api}"
data = requests.get(endpointURL).json()
pprint(data)

{'adult': False,
 'backdrop_path': None,
 'belongs_to_collection': None,
 'budget': 0,
 'genres': [],
 'homepage': '',
 'id': 255839,
 'imdb_id': 'tt0077749',
 'original_language': 'en',
 'original_title': 'The Irishman',
 'overview': 'Paddy Doolan is a man who refuses to accept change. In a new '
             'century where the motor car is changing the way things are done, '
             'the stubborn Irishman, the last of the draught-horse teamsters, '
             'continues to haul timber the old way.',
 'popularity': 0.6,
 'poster_path': '/krkIjrPtQRodPIKxKLtWkY3DW9z.jpg',
 'production_companies': [],
 'production_countries': [{'iso_3166_1': 'AU', 'name': 'Australia'}],
 'release_date': '1978-02-28',
 'revenue': 0,
 'runtime': 108,
 'spoken_languages': [{'english_name': 'English',
                       'iso_639_1': 'en',
                       'name': 'English'}],
 'status': 'Released',
 'tagline': '',
 'title': 'The Irishman',
 'video': False,
 'vote_average': 0.0,
 'vote_count': 0}

In [ ]:
# For loop to make API call to pull in baseData['vote_average'] for each movie
# Check if year matches what is pulled from API, drop if no match
# If vote_average = 0, make null. Then drop null(?)
# Export final data to csv
# Clean baseData to group by year (buckets of 2-3 years): count of values by that year, average of ratings for that year
# Idea: baseData['runtime'], average runtime per year, does runtime affect average rating? Do longer movies have better ratings or worse?